.expanded{
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    
}
.title{
    font-size:  16px !important;
}
.text-white-40{
    color: rgba(255, 255, 255, 0.4);
}
.collapsed
{
    color: rgba(255, 255, 255, 0.4); 
    background-color: transparent;
}