<div *ngIf="step == 'InsertEmail'" class="text-center title">
  <p>هل نسيت كلمة السر؟</p>
  <small>أدخل بريدك الإلكتروني كي تتسلم كود لتغيير كلمة السر</small>
</div>
<div *ngIf="step == 'ResetPassword'" class="text-center title">
  <p>إنشاء كلمة سر جديدة</p>
  <small>قم بإنشاء كلمة سر جديدة مطابقة للشروط</small>
</div>
<!--  -->
<form
  *ngIf="step == 'InsertEmail'"
  [formGroup]="emailForm"
  style="
    display: flex;
    padding: 50px 50px;
    justify-content: stretch;
    align-items: stretch;
    width: 100%;
    flex-direction: column;
  "
  class="default-card default-form"
>
  <!-- ===================================== -->
  <!-- ===================================== -->
  <div class="form-col w-full">
    <label>البريد الالكتروني <span class="text-danger">*</span></label>
    <input
      formControlName="email"
      style="width: 100% ;background-color: #E5E5E5;"
      type="email"
      placeholder="ادخل البريد الالكتروني" 
    />
    <div
      *ngIf="
        emailForm.controls['email'].invalid &&
        (emailForm.controls['email'].touched ||
          emailForm.controls['email'].dirty)
      "
    >
      <div *ngIf="emailForm.controls['email'].errors?.['required']">
        <small class="text-danger">يجب ادخال البريد الالكتروني</small>
      </div>
      <div *ngIf="emailForm.controls['email'].errors?.['email']">
        <small class="text-danger">يجب ادخال البريد الالكتروني بشكل صحيح</small>
      </div>
    </div>
  </div>

  <p class="default-attention">{{ message }}</p>
  <button
    [disabled]="emailForm.invalid"
    (click)="sendResetEmail(emailForm.controls['email'].value)"
    class="text-white btn button my-5" style="background-color: #887852;"
  >
    {{ isBusy ? "الرجاء الانتظار" : "ارسال" }}
  </button>
</form>

<form
  *ngIf="step == 'ResetPassword'"
  [formGroup]="resetForm"
  style="
    display: flex;
    padding: 50px 50px;
    justify-content: stretch;
    align-items: stretch;
    width: 100%;
    flex-direction: column;
  "
  class="default-card default-form"
>
  <!-- ===================================== -->
  <!-- ===================================== -->
  <label>كلمة المرور <span class="text-danger">*</span></label>
  <div style="position: relative; display: flex; align-items: center">
    <input
      #passwordInput
      type="password"
      formControlName="password"
      style="width: 100%; padding-left: 45px"
      placeholder="ادخل كلمة المرور"
    />

    <button
      style="position: absolute; z-index: 0; left: 10px"
      class="image-button"
      type="button"
      (click)="
        passwordInput.type =
          passwordInput.type == 'password' ? 'text' : 'password'
      "
    >
      <i
        class="fa fa-eye"
        style="color: #0c588b"
        aria-hidden="true"
        *ngIf="passwordInput.type == 'password'"
      ></i>
      <i
        class="fa fa-eye-slash"
        style="color: #0c588b"
        aria-hidden="true"
        *ngIf="passwordInput.type == 'text'"
      ></i>
    </button>
  </div>
  <!-- ================ -->
  <!-- VALIDATION -->
  <!-- ================ -->
  <div
    *ngIf="
      resetForm.controls['password'].invalid &&
      (resetForm.controls['password'].touched ||
        resetForm.controls['password'].dirty)
    "
  >
    <div *ngIf="resetForm.controls['password'].errors?.['required']">
      <small class="text-danger">يجب ادخال كلمة المرور</small>
    </div>
  </div>

  <!-- ===================================== -->
  <!-- ===================================== -->
  <label> تاكيد كلمة المرور <span class="text-danger">*</span></label>
  <div style="position: relative; display: flex; align-items: center">
    <input
      #passwordInput2
      type="password"
      formControlName="repassword"
      style="width: 100%; padding-left: 45px"
      placeholder="ادخل تاكيد كلمة المرور"
    />

    <button
      style="position: absolute; z-index: 0; left: 10px"
      class="image-button"
      type="button"
      (click)="
        passwordInput2.type =
          passwordInput2.type == 'password' ? 'text' : 'password'
      "
    >
      <i
        class="fa fa-eye"
        style="color: #0c588b"
        aria-hidden="true"
        *ngIf="passwordInput2.type == 'password'"
      ></i>
      <i
        class="fa fa-eye-slash"
        style="color: #0c588b"
        aria-hidden="true"
        *ngIf="passwordInput2.type == 'text'"
      ></i>
    </button>
  </div>
  <!-- ================ -->
  <!-- VALIDATION -->
  <!-- ================ -->
  <div
    *ngIf="
      resetForm.controls['repassword'].invalid &&
      (resetForm.controls['repassword'].touched ||
        resetForm.controls['repassword'].dirty)
    "
  >
    <div *ngIf="resetForm.controls['repassword'].errors">
      <small class="text-danger">يجب ادخال تاكيد كلمة المرور متطابق</small>
    </div>
  </div>
  <p class="default-attention">{{ message }}</p>
  <button
    [disabled]="resetForm.invalid"
    (click)="resetPassword(resetForm.controls['email'].value, resetForm.controls['password'].value)"class="text-white btn button my-5" >
    {{ isBusy ? "الرجاء الانتظار" : "اعادة تعيين" }}
  </button>
</form>
