 .title {
   margin-bottom: 0px !important;

   p {
     font-size: 24px;
     font-weight: 400
   }
 }

//  ::ng-deep .ng-otp-input-wrapper {
//    direction: ltr !important;
//  }

//  :host ::ng-deep .n-o-c {
//    display: flex;
//    align-items: center;
//    flex-direction: row-reverse;
//  }