@use '../../../../scss/main';
.notifi {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 570px;
  width: 480px;
  overflow: auto;

  .item {
    background-color: rgba(242, 247, 255, 1);
    border-radius: 10.8px;
    color: #272525;
    cursor: pointer;
    text-align: right;
    padding: 16px 20px;
    display: flex;
    align-items: center;
    gap: 12px;
    transition: background-color 0.2s;
    p,span {
      font-weight: 400;
      margin-bottom: 0;
    }

    p {
      color: rgba(39, 37, 37, 1);
      font-size: 14.4px;
    }
    span{
      color: rgba(81, 81, 81, 1);
      font-size: 10.8px;
    }
  }
}

.isRead {
  background-color: var(--mainColor) !important;
}


.isReadCard{
  background-color: #fff !important;
  border: 1px solid;
  border-color: var(--mainColor);
}

.notification-status {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #4CAF50;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--mainColor);
  border-radius: 10px;
}

.ballbtn {
  border: none;
  outline: none;

  span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    color: #fff;
    margin: 2px;
    background-color: #FF385C;
    border-radius: 50%;
    font-size: 12px;
    font-weight: 600;
    position: absolute;
    right: -5px;
    top: -5px;
  }
}

.ball {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 14px;

  .title {
    font-size: 1.5rem;
    font-weight: 700;
    color: #101828;
    // color: var(--mainColor);
  }

  p {
    margin-bottom: 0;
    color: #9e9e9e;
    font-size: 12px;
    font-weight: 400;
  }
}

.show-all {
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
  line-height: 28px;
  color: #101828;
  text-decoration: underline;
  cursor: pointer;
}
.dropdown-item{
  background-color: transparent;
}
